body {
    margin: 0;
}

#grid-size-button {
    background-color: aliceblue;
    border: 0;
    padding: 1rem;
    margin: 1rem;
    position: absolute;
}

#grid-size-button:hover {
    cursor: pointer;
}